MQL4/Experts/MACD Sample.mq4
MQL4/Experts/Moving Average.mq4
*.mqh
*.ex4
*.log
mqlcache.dat
config/
logs/
*.dat
*.bmp
profiles/
history/
MQL4/Scripts
#MQL4/Indicators
Sounds/
*.xls
*.exe
tester/
*.ico
tester/
templates/ADX.tpl
templates/BollingerBands.tpl
templates/Layers.tpl
templates/Momentum.tpl
templates/OptimizationReport.tpl
templates/Popular.tpl
*.htm
templates/Volume.tpl
templates/Williams.tpl
